html {
  background-color: black;
}
body {
  background-color: black;
}
svg {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}
polygon {
  transform: rotateY(-180deg) scale(0);
  transition: all 0.4s cubic-bezier(0.59, 0.72, 0.375, 1.65);
  transform-origin: center;
}
polygon.processed {
  transform: rotateY(0deg) scale(1);
}
